---
import Formulario from "@components/Formulario.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Boleteapp - Home">
  <main
    class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden"
  >
    <div class="layout-container flex h-full grow flex-col">
      <Navbar />
      <div class="px-40 flex flex-1 justify-center py-5">
        <Formulario />
      </div>
    </div>
  </main>
</Layout>
