---
import Formulario from "@components/Formulario.astro";
import InfoUf from "@components/InfoUf.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Boleteapp - Home">
  <main>
    <div class="flex flex-col justify-center items-center p-8">
      <h1 class="text-5xl uppercase text-[#222831] text-center">Boleteapp</h1>
      <p class="text-[#393E46] text-center text-xl text-pretty mt-4 max-w-2xl">
        Calcula tus Boletas de Honorarios. Actualizado según la Ley 21.133, que
        incrementa progresivamente la retención de impuestos.
      </p>
    </div>
    <InfoUf />
    <Formulario />
  </main>
</Layout>
