<section class="flex items-center justify-center mb-8">
  <div class="bg-[#393E46] w-fit p-3 rounded-lg">
    <p class="text-[#EEEEEE]">
      El Valor de la UF es $XXX para el día DD/MM/YYYY
    </p>
  </div>
</section>
